.container{
    height: 850px;
    width: 370px;
    position: relative;
   left:500px;
   border:color #000000;
   border-width: 1px;
   border-style: solid;
   background: #ffe5e5;
}

h3.cursiv {font-family: cursive;}
p.cursiv {font-family: cursive;}

.image{
    width:80%;
    height:40%;
}
ol {
    background: #ff9999;
    padding: 20px;
  }
  
  ol li {
    background: #ffe5e5;
    color: darkred;
    padding: 5px;
    margin-left: 35px;
  }
  h1 {
    text-shadow: 2px 2px 5px red;
  }